.center{
     display: block;
     margin-left: auto;
     margin-right: auto;
}
div{
    background-image: linear-gradient(to right, #99c1e8, #0757ad);
}
body{
    background-image: linear-gradient(to right,  #ede7e7e6, #464545 );
}
table{
    border-collapse: collapse;
}
th,td{
    padding: 5px;
}
tr:hover{
    background-color: #D6EEEE;
}
#tablewidth{
    border-collapse: collapse;
    width: 50%;
}
.bgc{
    background-color: #99c1e8;
    border: 2px solid black;
}